{% load static %}

<!DOCTYPE html>

<html>

<head>
	<title>Question Bank Software</title>
	
	<link rel="stylesheet" href="/static/css/faculty/faculty_index.css">
	<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>




</head>

<body>
	<div class="uni-heading">
        	UNIVERSITY
    	</div>
	
	<div class="big-box">
		<div class="left-box">
			<p><a href="{% url 'facsem1' %}">Semester 1</a></p>
			<p><a href="{% url 'facsem2' %}">Semester 2</a></p>
			<p><a href="{% url 'facsem3' %}">Semester 3</a></p>
			<p><a href="{% url 'facsem4' %}">Semester 4</a></p>
			<p><a href="{% url 'facsem5' %}">Semester 5</a></p>
			<p><a href="{% url 'facsem6' %}">Semester 6</a></p>
			<p><a href="{% url 'facsem7' %}">Semester 7</a></p>
			<p><a href="{% url 'facsem8' %}">Semester 8</a></p>
		</div>
	</div>
</body>

</html>
