{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Configurations | QBerator</title>

	<!-- Local Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/settings/settings.css' %}">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

</head>

<body>
	<div class="widget center">
        <div class="blur"></div>
        <div class="text center">
			<h1 class="universityName">Ajeenya DY Patil University</h1>
        </div>
    </div>


</body>

</html>