{% extends 'faculty/index.html' %}

{% block bcamact %}
	<div class="base-tier-link">
		<a href="{% url 'ratii' %}">English-I</a>
		<a href="{% url 'trial2' %}">Fundamentals of Mathematics</a>
		<a href="">Effective Speaking & Analytical Skills-I</a>
		<a href="">Computer Fundamentals & Organizations</a>
		<a href="">Introduction to Linux</a>
		<a href="">Programming in C</a>
		<a href="">C Programming Lab</a>
		<a href="">Linux Lab</a>
	</div>
{% endblock bcamact %}

{% block bcactis %}
	<div class="base-tier-link">
		<a href="">English-I</a>
		<a href="">Fundamentals of Mathematics</a>
		<a href="">Effective Speaking & Analytical Skills-I</a>
		<a href="">Computer Fundamentals & Organizations</a>
		<a href="">Introduction to Linux</a>
		<a href="">Programming in C</a>
		<a href="">C Programming Lab</a>
		<a href="">Linux Lab</a>
	</div>
{% endblock bcactis %}

{% block bcads %}
	<div class="base-tier-link">
		<a href="">English-I</a>
		<a href="">Fundamentals of Mathematics</a>
		<a href="">Effective Speaking & Analytical Skills-I</a>
		<a href="">Computer Fundamentals & Organizations</a>
		<a href="">Introduction to Linux</a>
		<a href="">Programming in C</a>
	</div>
{% endblock bcads %}

{% block btmact %}
	<div class="base-tier-link">
		<a href="">Linear Algebra & Differential Calculus</a>
		<a href="">Introduction to Physical Sciences</a>
		<a href="">Basic Electronics and Electrical Engineering</a>
		<a href="">Engineering Design-I</a>
		<a href="">Programming in C</a>
		<a href="">Compostion & Rhetorics</a>
	</div>
{% endblock btmact %}

{% block btctis %}
	<div class="base-tier-link">
		<a href="">Linear Algebra & Differential Calculus</a>
		<a href="">Introduction to Physical Sciences</a>
		<a href="">Basic Electronics and Electrical Engineering</a>
		<a href="">Engineering Design-I</a>
		<a href="">Programming in C</a>
		<a href="">Compostion & Rhetorics</a>
	</div>
{% endblock btctis %}

{% block btds %}
	<div class="base-tier-link">
		<a href="">Linear Algebra & Differential Calculus</a>
		<a href="">Introduction to Physical Sciences</a>
		<a href="">Basic Electronics and Electrical Engineering</a>
		<a href="">Engineering Design-I</a>
		<a href="">Programming in C</a>
		<a href="">Compostion & Rhetorics</a>
	</div>
{% endblock btds %}

