{% extends 'faculty/index.html' %}


{% block bca-sem-block %}

	<ul>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-1
			</a>
		</div></li>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-2
			</a>
		</div></li>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-3
			</a>
		</div></li>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-4
			</a>
		</div></li>
	</ul>

{% endblock %}


<!-- {% block question-form %}

{% endblock %}
 -->