{% extends 'faculty/index.html' %}

{% block bcamact %}
	<div class="base-tier-link">
		<a href="">Reasoning and Thinking-II</a>
		<a href="">Employability Skills-I</a>
		<a href="">Computer Networks</a>
		<a href="">Software Engineering</a>
		<a href="">Information Security Fundamentals</a>
		<a href="">Programmin in Java</a>
		<a href="">Java Lab</a>
		<a href="">Lab DBMS</a>
{% endblock bcamact %}

{% block bcactis %}
	<div class="base-tier-link">
		<a href="">Reasoning and Thinking-II</a>
		<a href="">Employability Skills-I</a>
		<a href="">Computer Networks</a>
		<a href="">Software Engineering</a>
		<a href="">Information Security Fundamentals</a>
		<a href="">Programmin in Java</a>
		<a href="">Java Lab</a>
		<a href="">Lab DBMS</a>
	</div>
{% endblock bcactis %}

{% block bcads %}
	<div class="base-tier-link">
		<a href="">Reasoning and Thinking-II</a>
		<a href="">Employability Skills</a>
		<a href="">Introdution to Data Science</a>
		<a href="">Statictics & Probablity-I</a>
		<a href="">R Programming Language</a>
		<a href="">Machine Learning</a>
	</div>
{% endblock bcads %}

{% block btmact %}
	<div class="base-tier-link">
		<a href="">Introcution to Linux</a>
		<a href="">Software Engineering</a>
		<a href="">Computer Architecture and Organization</a>
		<a href="">Operating System Building Blocks</a>
		<a href="">Object Oriented Programming using Java</a>
		<a href="">Introduction to Communication Skills</a>
		<a href="">Data Structures and Algorithms</a>
	</div>
{% endblock btmact %}

{% block btctis %}
	<div class="base-tier-link">
		<a href="">Introcution to Linux</a>
		<a href="">Software Engineering</a>
		<a href="">Computer Architecture and Organization</a>
		<a href="">Operating System Building Blocks</a>
		<a href="">Object Oriented Programming using Java</a>
		<a href="">Introduction to Communication Skills</a>
		<a href="">Data Structures and Algorithms</a>
	</div>
{% endblock btctis %}

{% block btds %}
	<div class="base-tier-link">
		<a href="">Statistics and Probablity-I</a>
		<a href="">Economics for Engineers</a>
		<a href="">Data Structures</a>
		<a href="">Object Oriented Programming with java</a>
		<a href="">RDBMS</a>
		<a href="">Analysis & Design of Algorithms</a>
		<a href="">Introduction to Communication Skills</a>
	</div>
{% endblock btds %}

