{% extends 'faculty/index.html' %}

{% block bcamact %}
	<div class="base-tier-link">
		<a href="">Professional Skills</a>
		<a href="">Fundamentals of Storage</a>
		<a href="">Mobile Ecosystem, Business Analysis and Models</a>
		<a href="">Advanced Android Programming</a>
		<a href="">Web technology and Value Added Services in Mobile</a>
		<a href="">Principles of Virtualization</a>
		<a href="">Server Operating System-II</a>
		<a href="">Server Operating Syste,-II Lab</a>
		<a href="">Advanced Android Programming Lab</a>
		<a href="">Security in Wireless, VoIP and Mobile Apps</a>
		<a href="">Android Security</a>
{% endblock bcamact %}

{% block bcactis %}
<div class="base-tier-link">
		<a href="">Professional Skills</a>
		<a href="">Fundamentals of Storage</a>
		<a href="">Computer Forensics - an Introduction</a>
		<a href="">Virtualization and Cloud Security</a>
		<a href="">Principles of Virtualization</a>
		<a href="">Cloud Web Services</a>
		<a href="">Server Operating System-II</a>
		<a href="">Computer Forensics and Investigation Lab</a>
		<a href="">Server Operating System-II Lab</a>
		<a href="">Security in Wireless, VoIP and Mobile Apps</a>
		<a href="">ITIL</a>
	</div>
{% endblock bcactis %}

{% block bcads %}
	<div class="base-tier-link">
		<a href="">Multivariate Statistical Analysis</a>
		<a href="">Dimension Reduction and Model Validation Techniques</a>
		<a href="">NoSQL Databases</a>
		<a href="">Data Analytics using SQL</a>
		<a href="">Design and Analysis of Experiments</a>
		<a href="">Probabilistic Graphical Models</a>
		<a href="">Data Mining Techniques</a>
	</div>
{% endblock bcads %}

{% block btmact %}
	<div class="base-tier-link">
		<a href="">Fundamentals of Storage</a>
		<a href="">Principles of Virtualization</a>
		<a href="">Basic Android Programming</a>
		<a href="">Reasoning and Thinking</a>
		<a href="">Basic iOS Application Development</a>
		<a href="">Free Elective-I</a>
		<a href="">Employability Skills</a>
	</div>
{% endblock btmact %}

{% block btctis %}
	<div class="base-tier-link">
		<a href="">Fundamentals of Storage</a>
		<a href="">Principles of Virtualization</a>
		<a href="">Installation and Configuration of Server</a>
		<a href="">Reasoning and Thinking</a>
		<a href="">Ethical Hacking Fundamentals</a>
		<a href="">Free Elective-I</a>
		<a href="">Employability Skills</a>
	</div>
{% endblock btctis %}

{% block btds %}
	<div class="base-tier-link">
		<a href="">Inferential Statistics</a>
		<a href="">Advance Dara Analysis using SQL</a>
		<a href="">Big Data Analysis-I</a>
		<a href="">Machine Learning Algorithms-I</a>
		<a href="">Reasoning and Thinking</a>
		<a href="">Optimization Techniques</a>
		<a href="">Free Elective-I</a>
		<a href="">Employability Skills</a>
	</div>
{% endblock btds %}

