html {
  margin: 0px;
  padding: 0px;
}

body {
  background: url('../../img/faculty_spotlight.jpg') no-repeat center center fixed;
  background-color: black;
  background-size: cover;
}

.blur {
  background: url('../../img/faculty_spotlight.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(15px);
  position: absolute;
  height: 150px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} 

/* Welcome message */
.welcomeMessage {
	font: 25px Bold;
	color: white;
}

/* Theme Configurations */
.theme {
	background-color: black;
	margin-top: 8%;
	width: 100%;
}

.themeBlock {
	position: relative;
	float: left;
	width: 19.5%;
	margin: 2px;
	background-color: lightgrey;
	border: 2px solid white;
	border-radius: 6px;
	font: 20px Bold;
	font-family: 'Patrick Hand', cursive;
}

.themeBlock:focus {
	background-color: green;
}

.themeBlock:hover {
	background-color: yellow;
}

/* Main Menu */
.centerMenu {
	background-color: #54DCA4;
	background-size: cover;
	width: 60%;
	height: 60%;
	left: 20%;
	top: 35%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	filter: blur(15px);
	overflow: hidden;
}

/*Division menu*/
.mainBlock {
	opacity: 1;
	background: #0B486B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	width: 40%;
	height: 55%;
	left: 20%;
	top: 35%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	overflow: hidden;
}

/*Subject Section*/
.subjectMainTitle {
	background-color: green;
	text-align: center;
	font: 30px Bold;
	font-family: 'Viga', sans-serif;
}

.subjects {
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 43%;
	height: 30%;
	font: 25px Bold;
	font-family: 'Acme', sans-serif;
	margin-left: 6%;
	margin-top: 6%;
	overflow: hidden;
	float: left;
	color: white;
}

.subjects:hover {
	background: #799F0C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ACBB78, #799F0C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ACBB78, #799F0C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: red;
	border: 2px solid black;
}

/* Side block */
.sideBlock {
	opacity: 1;
	background: #3C3B3F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	width: 20%;
	height: 55%;
	left: 60%;
	top: 35%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	overflow: hidden;
	border: 2px solid white;
}

.sideBlock-title {
	background-color: yellow;
	font: 30px Bold;
	font-family: 'Viga', sans-serif;
	text-align: center;
}

.configurations {
	font: 25px Bold;
	color: white;
	background-color: black;
	border: 2px solid white;
	margin: 15px 20px;
	width: 80%;
	text-align: center;
	height: 17%;
	overflow: hidden;
	top: 50%;
	text-align: center;
}

.configurations:hover {
	background-color: orange;
}

.HoverWhite:hover {
	background-color: white;
}

.HoverBlack:hover {
	background-color: black;
}

.HoverBlue:hover {
	background-color: blue;
}

.HoverRed:hover {
	background-color: red;
}