{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Structure</title>

	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/structure.css' %}">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

</head>

<body>
	<div class="head">
		<span class="universityTitle">
			Ajeenkya DY Patil University
		</span>
	</div>

	<div class="headers">
		<a href="" onclick="smoothScroll(document.getElementById('second'))">
			<div class="block1">
				Models
			</div>
		</a>
		<a href="">
			<div class="block1">
				Entity Relationship
			</div>
		</a>
		<a href="#second">
			<div class="block1">
				Glossary
			</div>
		</a>
	</div>

	<br><br><br><br><br><br>

	<div class="meetthedev">
		<div class="nameTitle">
		  <span class="name">
		    Anway Somani
		  </span>
		</div>
		<div class="devContent">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>

	<hr><hr>

	<div class="modelBlock">

	</div>
</body>
</html>
