html {
	position: fixed;
}

body {
	background: url('../../img/faculty_spotlight.jpg') no-repeat;
	background-size: auto;
	background-position: 50% 50%;

}

.uni-heading {
	background-color: orange;
        font-family: 'Roboto';
        font: 40px Bold;
	font-family: 'Allan';
        text-align: center;
        border: Solid Black;
	width: 2000px;
        border-width: 0px 0px 8px 0px;
        padding: 5px;
        margin: 0px 0px 0px 0px;
}


p {
	font: 30px Bold;
	font-family: 'Aclonica';
	color: blue;
	background-color: white;
}

.big-box {
	width: 1100px;
	height: 450px;
	margin: 35px 50px 50px 50px;
	padding: 15px;
	background-color: transparent;
}

.indent {
	text-indent: 50px;
}

.opt-title {
	color: red;
}

.left-box {
	float: left;
	opacity: 1.0;
	margin-left: -40px;
	padding: 5px;
	margin-top: 5px;
}

.right-wala-box {
	float: right;
}

/*.line-between {
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: 10%;
	border-left: 19px solid white;
}*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.down-wala {
	position: absolute;
}

footer { 
	background-color: black;
	text-color: white;
	width: 100%;
	text-align: center;
	align: center;
	word-spacing: 20px;
	margin-top: 10px;
}

.ffoot {
	background-color: black;
	font: 30px Bold Arial Black, Helvetica, Serif;
	margin: 0px;
}

.disable {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
