html {
    margin: 0%;
    padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

.clg-header {
    margin: -10px;
    margin-bottom: 0px;
    padding: 10px;
    font: 30px Bold;
    font-family: 'Permanent Marker', cursive;
    background-color: orange;
    text-align: center;
}

.hor1 {
    width: 101.25%;
    background-color: black;
    margin: 0px;
    margin-left: -10px;
    margin-bottom: 7px;
    padding: 0px;
}

.sem-block {
    margin: -10px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.sems {
    width: 20%;
    background-color: grey;
    border-left: 5px solid black;
    border-right: 15px solid black;
    border-top: 10px double black;
    border-bottom: 2px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
    font-family: 'Istok Web', sans-serif;
    font: 30px Bold;
}

li {
    float: justify;
}

.subj1 {
    color: yellow;
    font: 30px Bold;
    text-decoration: none;
}

.subj1 a.subj1 {
    background-color: white;
}

.left1 {
    font: 20px Bold;
    float: left;
    text-align: center;
    border: 2px dotted black;
}

.returnsem {
    background-color: lightGreen;
}

.subject-title {
    background-color: white;
    width: 100%;
    margin-left: -10px;
    margin-right: 0px;
    text-align: center;
    font: 30px Bold;
}

.highlight {
    background-color: red;
    font-weight: bold;
}

.whole {
    width: 100%;
    height: auto;
}

.left-side-wala {
    width: 65%;
    height: 100%;
    float: left;
    background-color: lightGrey;
    margin-left: 10px;
    padding: 8px;
}

.right-side-wala {
    width: 30%;
    margin-right: 10px;
    float: right;
    background-color: lightblue;
    height: 20%;
    font-family: auto;
    border: 2px dotted black;
    padding: 10px;
    /*padding-top: auto;
    padding-bottom: auto;*/
    text-align: center;
}

.head-mod {
    font: 35px Bold;
    font-family: 'Josefin Sans', sans-serif;
}