/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.uni-heading {
        background-color: orange;
        font-family: 'Roboto';
        font: 40px Bold;
        font-family: 'Allan';
        text-align: center;
        border: Solid Black;
        width: 2000px;
        border-width: 0px 0px 8px 0px;
        padding: 5px;
        margin: 0px;
}

.course-head {
	background-color: white;
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 0px;
	font-family: 'Abril Fatface', cursive;
	font: 50px Bold;
}

.blank-box {
	height: 100%;
	width: 100%;
}

.combined-box {
	background-color: turquoise;
	width: 80%;
	margin: 50px;
	padding: 45px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    float: justify;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.base-tier-head {
	background-color: grey;
	height: 64px;
	margin: 0px;
	margin-top: 0px;
	font: 40px Bold;
	text-align: center;
	text-decoration: underline;
	position: sticky;
}

.base-tier {
	font: 20px Bold;
	font-family: 'Sawarabi Mincho', sans-serif;
	background-color: white;
	text-align: center;
}


.sidenav {
	padding-top: 0px;
	overflow-y: scroll;
	float: left;
}

.base-base-tier {
	background-color: grey;
}

a {
	padding: 1px;
}

p {
	font: 14px Bold;
}
