{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Login | QBerator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">


</head>

<body>

	<div class="jumbotron">
		<h1>Ajeenkya DY Patil University</h1>
		<p>Innovation University</p>
	</div>

	<button>FACULTY</button>	
	<button>HOD</button>
	
	
	{% block content %}

	{% endblock %}

	<br><br><br>

	<div class="footer">
		<a href="">Issue</a> 	      |
		<a href="{% url 'about_developer' %}">Developer</a>
	</div>
	
</body>

</html>
