html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: blue;
}

/*University Name*/
.head {
	background-color: orange;
	color: black;
	padding: 25px;
	font: 35px Italic Arial Black, Helvetica, Serif;
	margin: 0px;
	text-align: right;
}

.universityTitle {
	margin-right: 70px;
}

/*------------------------------------------------------*/

.html-file-link {
	background-color: #67C50E;
	font: 25px Bold;
	width: 25%;
	font-family: 'Anton', sans-serif;
	float: left;
	margin-left: 15px;
}