html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: green;
}

/*University Name*/
.head {
	background-color: orange;
	color: black;
	padding: 25px;
	font: 35px Italic Arial Black, Helvetica, Serif;
	margin: 0px;
	text-align: right;
}

.universityTitle {
	margin-right: 70px;
}

/*------------------------------------------------------*/
