html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: blue;
	margin: 0px;
	padding: 0px;
	width: 
}

/*GoJS*/
.erBlock {
	width:auto; 
	height:350px; 
	margin: 20px;
	background-color: green;/*#DAE4E4;*/
	align-self: center; 
	align-items: center;
	/*pointer-events: none;*/
	align-items: center;
	justify-content: center;
	border: 10px Solid Black;
}

.erBlockUser {
	width:auto; 
	height:500px; 
	margin: 20px;
	background-color: green;/*#DAE4E4;*/
	align-self: center; 
	align-items: center;
	border: 10px Solid Black;
}

/*University Name*/
.head {
	background-color: orange;
	color: black;
	padding: 25px;
	font: 35px Italic Arial Black, Helvetica, Serif;
	margin: 0px;
	text-align: right;
}

.universityTitle {
	margin-right: 70px;
}

/*------------------------------------------------------*/

/* Optionnaire for self-page links */
.options {
	background-color: grey;
	position: relative;
	float: right;
	font: 30px Bold;
	font-family: 'Allerta Stencil', sans-serif;
	width: 100%;
	position: -webkit-sticky;
    position: sticky;
    top: 0px;
    opacity: 1;
}

.branchedOptionsTitle {
	position: relative;
	float: left;
}

.branchedOptions {
	/*background-color: yellow;*/
	position: relative;
	float: inherit;
	margin: 17px;
	margin-left: 20px;
	border: 2px Solid Black;
	padding: 10px;
}

.branchedOptions:active {
	background-color: yellow;
}

/*-------------------------------------------------------------*/

/*Individual Application*/
.applicationName {
	font: 30px Bold;
}

/*Particular application target(main)*/
.App {
	background-color: orange;
	margin: 10px;
	padding: 10px;
}

.modelName {
	/*background-color: white;*/
	color: green;
	text-decoration: underline;
	font: 15px Bold;
}

#options.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
}