<html>
<head>
  <title>Test</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>

  <h1>Ajeenkya DY Patil University</h1>

  <h3>Section A</h3>
  <br>
  <p>Q. Answer the following(Any Five):</p>

  {{ form.media }}
  <!-- Two Marks Question -->
  {% for field in subjects %}
    <!-- Fifty Marks Question Paper -->
    {% if field.category_id == '50' %}
    {{ field.content|safe }}
      <p>Question paper: 50 Marks</p>
      {% for 2mq1 in fifties_twomarks %}
        <p>Q.{{ forloop.counter }} - {{ 2mq1|safe }}</p>
      {% endfor %}<br><hr>
      {% for 5mq1 in fifties_fivemarks %}
        <p>Q.{{ forloop.counter }} - {{ 5mq1|safe }}</p>
      {% endfor %}<br><hr>
      {% for 10mq1 in fifties_tenmarks %}
        <p>Q.{{ forloop.counter }} - {{ 10mq1|safe }}</p>
      {% endfor %}<br><hr><hr>

    <!-- Thirty Marks Question Paper -->
    {% elif field.category_id == '30' %}
      <p>Question paper: 30 Marks</p>
      {% for 2mq2 in thirties_twomarks %}
        <p>Q.{{ forloop.counter }} - {{ 2mq2|safe }}</p>
      {% endfor %}<br><hr>
      {% for 5mq2 in thirties_fivemarks %}
        <p>Q.{{ forloop.counter }} - {{ 5mq2|safe }}</p>
      {% endfor %}<br><hr>
      {% for 10mq2 in thirties_tenmarks %}
        <p>Q.{{ forloop.counter }} - {{ 10mq2|safe }}</p>
      {% endfor %}<br><hr><hr>

    <!-- Twenty Marks Question Paper -->
    {% elif field.category_id == '20' %}  
      <p>Question paper: 30 Marks</p>
      {% for 2mq3 in twenties_twomarks %}
        <p>Q.{{ forloop.counter }} - {{ 2mq3|safe }}</p>
      {% endfor %}<br><hr>
      {% for 5mq3 in twenties_fivemarks %}
        <p>Q.{{ forloop.counter }} - {{ 5mq3|safe }}</p>
      {% endfor %}<br><hr>
      {% for 10mq3 in twenties_tenmarks %}
        <p>Q.{{ forloop.counter }} - {{ 10mq3|safe }}</p>
      {% endfor %}<br><hr><hr>

      <hr><hr><hr>
    {% endif %}
  {% endfor %}
</body>
</html>

