<!-- SEMESTER - 5 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
    <title>Faculty</title>
    <link rel="stylesheet" href="{% static 'css/faculty/index/findex.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
        <a href="" class="coloringut">View All Questions ---></a>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#two">
                                			BCA
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="two" class="panel-collapse collapse">
                        		<div class="panel-body">
						<p><a href="">Professional Skills</a></p>
						<p><a href="">Enterprise Application Development</a></p>
						<p><a href="">Distributed Systems</a></p>
						<p><a href="">JavaScript Frameworks</a></p>
						<p><a href="">Server-side Scripting</a></p>
						<p><a href="">Data Communication</a></p>
						<p><a href="">Computer Graphics</a></p>
                                		<p><a href="">Server-side Scripting Lab</a></p>
                                		<p><a href="">Enterprise Application Development Lab</a></p>
                                		<p><a href="">E-Commerce</a></p>
                                		<p><a href="">Disaster Recovery and Buisness Continuity Management</a></p>
                        		</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#three">
                                			BCA - CTIS
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="three" class="panel-collapse collapse">
                        		<div class="panel-body">
                        			<p><a href="">Professional Skills</a></p>
                                		<p><a href="">Fundamentals of Storage</a></p>
		                                <p><a href="">Computer Forensics - an Introduction</a></p>
                		                <p><a href="">Virtualization and Cloud Security</a></p>
                                		<p><a href="">Principles of Virtualization</a></p>
		                                <p><a href="">Cloud Web Services</a></p>
                		                <p><a href="">Server Operating System-II</a></p>
                                		<p><a href="">Computer Forensics and Investigation Lab</a></p>
                                		<p><a href="">Server Operating System-II Lab</a></p>
                                		<p><a href="">Security in Wireless, VoIP and Mobile Apps</a></p>
                                		<p><a href="">ITIL</a></p>
					</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#four">
                                			BCA - MACT
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="four" class="panel-collapse collapse in">
                        		<div class="panel-body">
						<p><a href="">Professional Skills</a></p>                  
						<p><a href="">Fundamentals of Storage</a></p>
                		                <p><a href="">Mobile Ecosystem and Business Models</a></p>
                                		<p><a href="">Advanced Andriod Programming</a></p>
		                                <p><a href="">Web technology and Value Added Servies in Mobile</a></p>
                		                <p><a href="">Principles of Virtualization</a></p>
                                		<p><a href="">Server Operating System-II</a></p>
                                		<p><a href="">Server Operating System-II Lab</a></p>
                                		<p><a href="">Advance Android Programming Lab</a></p>
                                		<p><a href="">Security in Wireless, VoIP and Mobile Apps</a></p>
                                		<p><a href="">Android Security</a></p>
					</div>
                    		</div>
	                </div>
        	        <!-- end of panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Inferential Statistics</a></p>                  
						<p><a href="">Advance Data Analytics Using SQL</a></p>                  
						<p><a href="">Big Data Analysis-I</a></p>                  
						<p><a href="">Machine Learning Algorithms-I</a></p>                  
						<p><a href="">Reasoning and Thinking</a></p>                  
						<p><a href="">Optimization Techniques</a></p>                  
						<p><a href="">Free Elective-I</a></p>                  
                                		<p><a href="">Employability Skills</a></p>
			  		</div>
                      		</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Fundamentals of Storage</a></p>                  
						<p><a href="">Principles of Virtualization</a></p>                  
						<p><a href="">Installation & Configuration of Server</a></p>                  
						<p><a href="">Reasoning and Thinking</a></p>                  
						<p><a href="">Ethical Hacking Fundamentals</a></p>                  
						<p><a href="">Free Elective-I</a></p>                  
						<p><a href="">Employability Skills</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Fundamentals of Storage</a></p>                  
						<p><a href="">Principles of Virtualization</a></p>                  
						<p><a href="">Basic Android Programming</a></p>                  
						<p><a href="">Reasoning and Thinking</a></p>                  
						<p><a href="">Basic IOS Application Development</a></p>                  
						<p><a href="">Free Elective-I</a></p>                  
						<p><a href="">Employability Skills</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
                 	<!-- end of panel -->
			
 			<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#eight">
                                  			B. Sc - Animation
                              			</a>
                          		</h4>
                      		</div>
                     		<div id="eight" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Professional Skills</a></p>                  
						<p><a href="">Project Management</a></p>                  
						<p><a href="">Match Moving</a></p>                  
						<p><a href="">Rotoscopy & Paint</a></p>                  
						<p><a href="">Stereoscopic Techniques</a></p>                  
						<p>----Elective 1----</p>
						<p><a href="">3D Animation & Rigging</a></p>                  
						<p><a href="">Modelling and Texturing</a></p>                  
						<p><a href="">Lighting, Shading and Rendering</a></p>                  
						<p><a href="">Fluid Simulation</a></p>                  
						<p>----Elective 2----</p>
                                		<p><a href="">Sound Design</a></p>
                                		<p><a href="">Motion Graphics</a></p>
                          		</div>
                      		</div>
                 	</div>
                 	<!-- end of panel -->
		</div>
            	<!-- end of #bs-collapse  -->
        </div>


	<!-- Management -->
        <div class="col-md-6 col-sm-6">
	<h3>Management</h3><br><br><br><br>
        	<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                BBA - FS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
				<p><a href="">Business Information System</a></p>                  
				<p><a href="">Consumer Relationship Management</a></p>                  
				<p><a href="">Insurance and Risk Management</a></p>                  
				<p><a href="">International Finance</a></p>                  
				<p>----Elective----</p>
				<p><a href="">Derivatives and Commodities Market</a></p>                  
				<p><a href="">Strategic Management</a></p>                  
				<p><a href="">Business Planning & Project Management</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BBA - IB
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
				<p><a href="">Business Information System</a></p>                  
				<p><a href="">Consumer Relationship Management</a></p>                  
				<p><a href="">International Law</a></p>                  
				<p><a href="">International Trade Operations</a></p>                  
				<p>----Elective----</p>
				<p><a href="">Productivity & Quality Management</a></p>                  
				<p><a href="">Strategic Management</a></p>                  
				<p><a href="">Business Planning & Project Management</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                B. Com. - Hons.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
				<p><a href="">Corporate Tax Planning</a></p>                  
				<p><a href="">Indirect Taxes</a></p>                  
				<p><a href="">Indian Financial System</a></p>                  
				<p><a href="">Cost Management</a></p>                  
				<p>----Elective----</p>
				<p><a href="">Derivatives and Commodities Market</a></p>                  
				<p><a href="">Strategic Financial Management</a></p>                  
				<p><a href="">International Finance</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <!-- end of #accordion -->
        </div>
        <!-- end of wrap -->
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty_index.js' %}"></script>
    {% endblock content %}

</body>
    
</html>


