<!-- SEMESTER - 3 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
	<title>Faculty</title>

    	<!-- Existing CSS Link -->
    	<link rel="stylesheet" href="{% static 'css/faculty/index/findex.css' %}">
    	<!-- Bootstrap CSS Link -->
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    	<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    	<!-- Google Icon Links -->
    	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    	<!-- JavaScript Link for Bootstrap JS and JQuery -->
    	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    	<!-- Google Font -->
    	<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
        <a href="" class="coloringut">View All Questions ---></a>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#two">
                                			BCA
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="two" class="panel-collapse collapse">
                        		<div class="panel-body">
						<p><a href="">Reasoning and Thinking-II</a></p>
						<p><a href="">Employability Skills</a></p>
						<p><a href="">Computer Networks</a></p>
						<p><a href="">Software Engineering</a></p>
						<p><a href="">Information Security Fundamentals</a></p>
						<p><a href="">Introduction to Web Technology</a></p>
						<p><a href="">Introduction to DBMS</a></p>
						<p><a href="">Introduction to Web Technology Lab</a></p>
						<p><a href="">Lab DBMS</a></p>
                        		</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#three">
                                			BCA - CTIS
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="three" class="panel-collapse collapse">
                        		<div class="panel-body">
                        			<p><a href="">Reasoning and Thinking-II</a></p>
                                		<p><a href="">Employability Skills</a></p>
		                                <p><a href="">Computer Networks</a></p>
                		                <p><a href="">Software Engineering</a></p>
                                		<p><a href="">Information Security Fundamentals</a></p>
		                                <p><a href="">Programming in Java</a></p>
                		                <p><a href="">Introduction to DBMS</a></p>
						<p><a href="">Lab Java</a></p>
						<p><a href="">Lab DBMS</a></p>
					</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#four">
                                			BCA - MACT
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="four" class="panel-collapse collapse in">
                        		<div class="panel-body">
						<p><a href="">Reasoning and Thinking Skills-II</a></p>                  
						<p><a href="">Employability Skills</a></p>
						<p><a href="">Computer Networks</a></p>
						<p><a href="">Software Engineering</a></p>
                		                <p><a href="">Information Security Fundamentals</a></p>
                                		<p><a href="">Programming in Java</a></p>
		                                <p><a href="">Introduction to DBMS</a></p>
                		                <p><a href="">Lab Java</a></p>
                                		<p><a href="">Lab DBMS</a></p>
					</div>
                    		</div>
	                </div>
        	        <!-- end of panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Statistics and Probablity-I</a></p>                  
						<p><a href="">Economics for Engineers</a></p>                  
						<p><a href="">Data Structures</a></p>                  
						<p><a href="">Object Oriented Programming with Java</a></p>                  
						<p><a href="">RDBMS</a></p>                  
						<p><a href="">Analysis & Design of Algorithms</a></p>                  
						<p><a href="">Introduction to Communication Skills</a></p>                  
			  		</div>
				</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Introduction to Linux</a></p>                  
						<p><a href="">Software Engineering</a></p>                  
						<p><a href="">Computer Architecture and Organization</a></p>                  
						<p><a href="">Operating System Building Block</a></p>                  
						<p><a href="">Object Oriented Programming using Java</a></p>                  
						<p><a href="">Introduction to Communication Skills</a></p>                  
						<p><a href="">Data Structures and Algorithms</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Introduction to Linux</a></p>                  
						<p><a href="">Software Engineering</a></p>                  
						<p><a href="">Computer Architecture and Organization</a></p>                  
						<p><a href="">Operating System Building Blocks</a></p>                  
						<p><a href="">Object Oriented Programming using Java</a></p>                  
						<p><a href="">Introduction to Communication Skills</a></p>                  
						<p><a href="">Data Structures and Algorithms</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
                 	<!-- end of panel -->
			
 			<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#eight">
                                  			B. Sc - Animation
                              			</a>
                          		</h4>
                      		</div>
                     		<div id="eight" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Reasoning and Thinking-II</a></p>                  
						<p><a href="">Employability Skills-I</a></p>                  
						<p><a href="">History of VFX</a></p>                  
						<p><a href="">3D Lab-I</a></p>                  
						<p><a href="">Photography</a></p>                  
						<p><a href="">Pre-Production-I</a></p>                  
						<p><a href="">Character Design Concepts</a></p>                  
						<p><a href="">Layout Design Concepts</a></p>                  
						<p><a href="">Compositing Techniques</a></p>                  
                          		</div>
                      		</div>
                 	</div>
                 	<!-- end of panel -->
		</div>
            	<!-- end of #bs-collapse  -->
        </div>


	<!-- Management -->
        <div class="col-md-6 col-sm-6">
	<h3>Management</h3><br><br><br><br>
        	<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                BBA - FS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
				<p><a href="">Business Environment</a></p>                  
				<p><a href="">Managerial Economics</a></p>                  
				<p><a href="">Financial Management</a></p>                  
				<p><a href="">Human Resource Management</a></p>                  
				<p><a href="">Business Communication-II</a></p>                  
				<p><a href="">Time & Stress Management</a></p>                  
				<p><a href="">Environmental Studies</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BBA - IB
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
				<p><a href="">Business Environment</a></p>                  
				<p><a href="">Managerial Economics</a></p>                  
				<p><a href="">Financial Management</a></p>                  
				<p><a href="">Human Resources Management</a></p>                  
				<p><a href="">Business Communication-II</a></p>                  
				<p><a href="">Time & Stress Management</a></p>                  
				<p><a href="">Environmental Studies</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                B. Com. - Hons.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
				<p><a href="">Business Environment</a></p>                  
				<p><a href="">Managerial Economics</a></p>                  
				<p><a href="">Financial Management</a></p>                  
				<p><a href="">Human Resource Management</a></p>                  
				<p><a href="">Business Communication-II</a></p>                  
				<p><a href="">Time & Stress Management</a></p>                  
				<p><a href="">Environmental Studies</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <!-- end of #accordion -->
        </div>
        <!-- end of wrap -->
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty_index.js' %}"></script>
    {% endblock content %}

</body>
    
</html>


