<!-- SEMESTER - 6 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
    <title>Faculty</title>
    <link rel="stylesheet" href="{% static 'css/faculty_index.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
        <h4>View Question </h4>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#two">
                                			BCA
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="two" class="panel-collapse collapse">
                        		<div class="panel-body">
						<p><a href="">Entrepreneurship Development</a></p>
						<p><a href="">ITIL</a></p>
						<p>----Assigns----</p>
						<p><a href="">Major Project/Internship</a></p>
                        		</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#three">
                                			BCA - CTIS
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="three" class="panel-collapse collapse">
                        		<div class="panel-body">
                        			<p><a href="">IT Governance, Risk and Information Security Management</a></p>
                                		<p><a href="">introduction to Windows Azure</a></p>
						<p>----Assigns----</p>
		                                <p><a href="">Major Project/Internship</a></p>
					</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#four">
                                			BCA - MACT
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="four" class="panel-collapse collapse in">
                        		<div class="panel-body">
						<p><a href="">Introduction to Windows Azure</a></p>                  
						<p><a href="">Mobile Testing</a></p>
						<p>----Assigns----</p>
                                		<p><a href="">Major Project/Internship</a></p>
					</div>
                    		</div>
	                </div>
        	        <!-- end of panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Python Programming for Data Scientist</a></p>                  
						<p><a href="">Data Analytics Using MS Excel</a></p>                  
						<p><a href="">Exploratory Data Analysis</a></p>                  
						<p><a href="">Big Data Analysis-II</a></p>                 
						<p><a href="">Free Elective-II</a></p>
						<p><a href="">Professional Skills</a></p>
						<p>----Elective - I----</p>
						<p><a href="">Cloud Computing</a></p>                  
						<p><a href="">Mobile Computing</a></p>                  
						<p><a href="">Internet of Things</a></p>                  
						<p>----Elective - II----</p>
						<p><a href="">Natural Language Processing</a></p>                  
						<p><a href="">Neural Networks</a></p>                  
						<p><a href="">Recommender System</a></p>                  
			  		</div>
                      		</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Introduction to Cloud Technology</a></p>                  
						<p><a href="">Fundamentals of Datacenter</a></p>                  
						<p><a href="">Linux Administration</a></p>                  
						<p><a href="">IT Governance, Risk and Information Security Management</a></p>                  
						<p><a href="">Database Security</a></p>                  
						<p><a href="">Free Elective-II</a></p>                  
						<p><a href="">Professional Skills</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Introduction to Cloud Technology</a></p>                  
						<p><a href="">Fundamentals of Datacenter</a></p>                  
						<p><a href="">Installation and Configuration of Server</a></p>                  
						<p><a href="">Advanced Android Programming</a></p>                  
						<p><a href="">Advanced iOS Application Development</a></p>                  
						<p><a href="">Free Elective-II</a></p>                  
						<p><a href="">Professional Skills</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
                 	<!-- end of panel -->
			
 			<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#eight">
                                  			B. Sc - Animation
                              			</a>
                          		</h4>
                      		</div>
                     		<div id="eight" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p>----Assigns----</p>
						<p><a href="">Major Project/Internship</a></p>                  
						<p><a href="">Viva</a></p>                  
						<p><a href="">Project Report</a></p>                  
                          		</div>
                      		</div>
                 	</div>
                 	<!-- end of panel -->
		</div>
            	<!-- end of #bs-collapse  -->
        </div>


	<!-- Management -->
        <div class="col-md-6 col-sm-6">
	<h3>Management</h3><br><br><br><br>
        	<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                BBA - FS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
				<p><a href="">Production and Material Management</a></p>                  
				<p><a href="">Taxation</a></p>                  
				<p><a href="">Financial Modelling Using Excel</a></p>                  
				<p><a href="">Security Analysis & Portfolio Management</a></p>                  
				<p>----Project----</p>
				<p><a href="">Project Study</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BBA - IB
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
				<p><a href="">Production and Material Management</a></p>                  
				<p><a href="">Import Export Procedure and Documentation</a></p>                  
				<p><a href="">International Marketing</a></p>                  
				<p><a href="">Logistics & Supply Chain Management</a></p>                  
				<p>----Project----</p>
				<p><a href="">Project Study</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                B. Com. - Hons.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
				<p><a href="">Auditing</a></p>                  
				<p><a href="">Advanced Corporate Accounting</a></p>                  
				<p><a href="">Financial Modelling Using Excel</a></p>                  
				<p><a href="">Security Analysis & Portfolio Management</a></p>                  
				<p>----Project----</p>
				<p><a href="">Project Study</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <!-- end of #accordion -->
        </div>
        <!-- end of wrap -->
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty_index.js' %}"></script>
    {% endblock content %}

</body>
    
</html>


