<!-- SEMESTER - 1 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
    <title>Faculty</title>
   
    <!-- Existing CSS File -->
    <link rel="stylesheet" href="{% static 'css/faculty/index/findex.css' %}">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- JavaScript File for Bootstrap JS and JQuery -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
    
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
	    <a href="" class="coloringut">View All Questions ---></a>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#two">
                                			BCA
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="two" class="panel-collapse collapse">
                        		<div class="panel-body">
						<p><a href="">English-I</a></p>
						<p><a href="">Fundamentals Of Mathematics</a></p>
						<p><a href="">Effective Speaking & Analytical Skills-I</a></p>
						<p><a href="">Computer Fundamentals & Organizations</a></p>
						<p><a href="">Introduction to Linux</a></p>
						<p><a href="">Programming in C</a></p>
						<p><a href="">C Programming Lab</a></p>	
						<p><a href="">Linux Lab</a></p>
                        		</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#three">
                                			BCA - CTIS
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="three" class="panel-collapse collapse">
                        		<div class="panel-body">
                        			<p><a href="">English-I</a></p>
                                		<p><a href="">Fundamentals of Mathematics</a></p>
		                                <p><a href="">Effective Speaking & Analytical Skills-I</a></p>
                		                <p><a href="">Computer Fundamentals & Organizations</a></p>
                                		<p><a href="">Introduction to Linux</a></p>
		                                <p><a href="">Programming in C</a></p>
                		                <p><a href="">C Programming Lab</a></p>
					</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#four">
                                			BCA - MACT
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="four" class="panel-collapse collapse in">
                        		<div class="panel-body">
						<p><a href="">English-I</a></p>                  
						<p><a href="">Fundamentals of Mathematics</a></p>
                		                <p><a href="">Effective Speaking & Analytical Skills-I</a></p>
                                		<p><a href="">Computer Fundamentals & Organizations</a></p>
		                                <p><a href="">Introduction to Linux</a></p>
                		                <p><a href="">Programming in C</a></p>
                                		<p><a href="">C Programming Lab</a></p>
                                		<p><a href="">Linux Lab</a></p>
					</div>
                    		</div>
	                </div>
        	        <!-- end of panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Linear Algebra & Differential Calculus</a></p>                  
						<p><a href="">Know Your Science</a></p>                  
						<p><a href="">Enhancement of Communication Skills</a></p>                  
						<p><a href="">Engineering Design-I</a></p>                  
						<p><a href="">Introduction to Computing Environment</a></p>                  
						<p><a href="">Bridge Course in Mathematics</a></p>                  
			  		</div>
                      		</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Linear Algebra & Differential Calculus</a></p>                  
						<p><a href="">Know Your Science</a></p>                  
						<p><a href="">Enhancement of Communication Skills-I</a></p>                  
						<p><a href="">Engineering Design-I</a></p>                  
						<p><a href="">Introduction to Computing Environment</a></p>                  
						<p><a href="">Bridge Course in Mathematics</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Linear Algebra & Differential Calculus</a></p>                  
						<p><a href="">Know Your Science</a></p>                  
						<p><a href="">Enhancement of Communication Skills-I</a></p>                  
						<p><a href="">Engineering Design-I</a></p>                  
						<p><a href="">Introduction to Computing Environment</a></p>                  
						<p><a href="">Bridge Course in Mathematics</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
                 	<!-- end of panel -->
			
 			<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#eight">
                                  			B. Sc - Animation
                              			</a>
                          		</h4>
                      		</div>
                     		<div id="eight" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">English-I</a></p>                  
						<p><a href="">Effective Speaking & Analytical Skills-I</a></p>                  
						<p><a href="">Foundation Art-I</a></p>                  
						<p><a href="">Material Animation</a></p>                  
						<p><a href="">Digital Art-I</a></p>                  
						<p><a href="">2D Digital Animation-I</a></p>                  
						<p><a href="">3D Animation-I</a></p>                  
                          		</div>
                      		</div>
                 	</div>
                 	<!-- end of panel -->
		</div>
            	<!-- end of #bs-collapse  -->
        </div>


	<!-- Management -->
        <div class="col-md-6 col-sm-6">
	<h3>Management</h3><br><br><br><br>
        	<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                BBA - FS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
				<p><a href="">Principles of Management</a></p>                  
				<p><a href="">Business Accounting</a></p>                  
				<p><a href="">Business Statistics</a></p>                  
				<p><a href="">Business Law</a></p>                  
				<p><a href="">Personality Development</a></p>                  
				<p><a href="">French-I</a></p>                  
				<p><a href="">Excel Applications for Business</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BBA - IB
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
				<p><a href="">Principles of Management</a></p>                  
				<p><a href="">Business Accounting</a></p>                  
				<p><a href="">Business Statistics</a></p>                  
				<p><a href="">Business Law</a></p>                  
				<p><a href="">Personality Development</a></p>                  
				<p><a href="">French-I</a></p>                  
				<p><a href="">Excel Applications for Business</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                B. Com. - Hons.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
				<p><a href="">Principles of Management</a></p>                  
				<p><a href="">Business Accounting</a></p>                  
				<p><a href="">Business Statistics</a></p>                  
				<p><a href="">Business Law</a></p>                  
				<p><a href="">Personality Developemnt</a></p>                  
				<p><a href="">French-I</a></p>                  
				<p><a href="">Excel Applications for Business</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <!-- end of #accordion -->
        </div>
        <!-- end of wrap -->
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty/findex.js' %}"></script>
    {% endblock content %}

</body>
    
</html>


