<!-- SEMESTER - 4 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
    <title>Faculty</title>
    <link rel="stylesheet" href="{% static 'css/faculty/index/findex.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
        <h4>View Question </h4>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#two">
                                			BCA
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="two" class="panel-collapse collapse">
                        		<div class="panel-body">
						<p><a href="">Environmental Studies</a></p>
						<p><a href="">Introduction to UI/UX</a></p>
						<p><a href="">Object Oriented Analysis and Design</a></p>
						<p><a href="">Interactive Web Application Development</a></p>
						<p><a href="">Programming in Java</a></p>
						<p><a href="">Principles of Programming Languages</a></p>
						<p><a href="">Lab Java</a></p>
                                		<p><a href="">Interactive Web Application Development Lab</a></p>
                                		<p><a href="">Probablity and Statistics</a></p>
                                		<p><a href="">Computer Oriented Numerical Methods</a></p>
                        		</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#three">
                                			BCA - CTIS
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="three" class="panel-collapse collapse">
                        		<div class="panel-body">
                        			<p><a href="">Environmental Studies</a></p>
                                		<p><a href="">Cryptography Fundamentals</a></p>
		                                <p><a href="">Server operating System-I</a></p>
                		                <p><a href="">Fundamentals of Data Centre</a></p>
                                		<p><a href="">Introduction to Cloud Technology</a></p>
		                                <p><a href="">Ethical Hacking Fundamentals</a></p>
                		                <p><a href="">Introduction to Cloud Technology Lab</a></p>
                                		<p><a href="">Ethical Hacking Fundamentals Lab</a></p>
                                		<p><a href="">Security Threats and Trends</a></p>
                                		<p><a href="">Principles of RIMS</a></p>
					</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#four">
                                			BCA - MACT
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="four" class="panel-collapse collapse in">
                        		<div class="panel-body">
						<p><a href="">Environmental Studies</a></p>                  
						<p><a href="">Mobile Architecture and App Development</a></p>
                		                <p><a href="">Server Operating System-I</a></p>
                                		<p><a href="">Fundamentals of Datacentre</a></p>
		                                <p><a href="">Introduction to Cloud Technology</a></p>
                		                <p><a href="">Basic Android Programming</a></p>
                                		<p><a href="">Introduction to Cloud Technology Lab</a></p>
                                		<p><a href="">Basic Andrioid Programming Lab</a></p>
                                		<p><a href="">Security Threats and Trends</a></p>
                                		<p><a href="">ITIL</a></p>
					</div>
                    		</div>
	                </div>
        	        <!-- end of panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Operating System</a></p>                  
						<p><a href="">Statistics and Probablity-II</a></p>                  
						<p><a href="">Data Visualization</a></p>                  
						<p><a href="">Data Analysis Using SQL</a></p>                  
						<p><a href="">Information Security Fundamentals</a></p>                  
						<p><a href="">NoSQL Databases</a></p>                  
						<p><a href="">Scientific Programming Using R</a></p>                  I
						<p><a href="">Introduction to Public Speaking</a></p>                  I
			  		</div>
                      		</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Network Security Basics</a></p>                  
						<p><a href="">Introduction to Web Technology</a></p>                  
						<p><a href="">Database Management Systems</a></p>                  
						<p><a href="">Enterprise Network Engineering</a></p>                  
						<p><a href="">Cryptography Fundamentals</a></p>                  
						<p><a href="">Information Security</a></p>                  
						<p><a href="">Introduction to Public Speaking</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Mobile Architecture and App Development</a></p>                  
						<p><a href="">Introduction to Web Technology</a></p>                  
						<p><a href="">Database Management Systems</a></p>                  
						<p><a href="">Enterprise Network Engineering</a></p>                  
						<p><a href="">Enterprise Application Development</a></p>                  
						<p><a href="">Information Security</a></p>                  
						<p><a href="">Introduction to Public Speaking</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
		
                 	<!-- end of panel -->
			
 			<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#eight">
                                  			B. Sc - Animation
                              			</a>
                          		</h4>
                      		</div>
                     		<div id="eight" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Employability Skills-II</a></p>                  
						<p><a href="">3D Lab-II</a></p>                  
						<p><a href="">Pre-Production-II</a></p>                  
						<p><a href="">Lightning & Rendering</a></p>                  
						<p><a href="">Advanced Composting Techniques</a></p>                  
						<p><a href="">Cinematography</a></p>                  
						<p><a href="">3D Dynamics</a></p>                  
                          		</div>
                      		</div>
                 	</div>
                 	<!-- end of panel -->
		</div>
            	<!-- end of #bs-collapse  -->
        </div>


	<!-- Management -->
        <div class="col-md-6 col-sm-6">
	<h3>Management</h3><br><br><br><br>
        	<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                BBA - FS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
				<p><a href="">Indian Financial System</a></p>                  
				<p><a href="">Industrial Laws</a></p>                  
				<p><a href="">Management Accounting</a></p>                  
				<p>----Elective----</p>
				<p><a href=""></a></p>                  
				<p><a href="">Financial Planning</a></p>                  
				<p><a href="">Advanced Quantitative Techniques</a></p>                  
				<p><a href="">Financial Services</a></p>                  
				<p>----Project----</p>
				<p><a href="">Summer Project</a></p>
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BBA - IB
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
				<p><a href="">Introduction to International Business</a></p>                  
				<p><a href="">Industrial Law</a></p>                  
				<p><a href="">Management Accounting</a></p>                  
				<p>----Electives----</p>
				<p><a href="">Entrepreneurship Development</a></p>                  
				<p><a href="">Business Ethics</a></p>                  
				<p><a href="">Industrial Buyer's Behviour</a></p>                  
				<p>----Project----</p>
				<p><a href="">Summer Project</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                B. Com. - Hons.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
				<p><a href="">Direct Tax</a></p>                  
				<p><a href="">Corporate Laws</a></p>                  
				<p><a href="">Management Accounting</a></p>                  
				<p>----Electives----</p>
				<p><a href="Financial Planning"></a></p>                  
				<p><a href="Advanced Quantative Techniques"></a></p>                  
				<p><a href="Financial Services"></a></p>                  
				<p>----Project----</p>
				<p><a href="">Summer Project</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <!-- end of #accordion -->
        </div>
        <!-- end of wrap -->
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty_index.js' %}"></script>
    {% endblock content %}

</body>
    
</html>


