<!-- SEMESTER - 7 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
    <title>Faculty</title>
    <link rel="stylesheet" href="{% static 'css/faculty/index/findex.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
        <h4>View Question </h4>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Machine Learning Algorithms-II</a></p>                  
						<p><a href="">Artificial Intelligence</a></p>                  
						<p><a href="">Time Series Analysis</a></p>                  
						<p><a href="">Dimensionality Reduction and Model Validation</a></p>                  
						<p>----Elective - III----</a></p>
						<p><a href="">Deep Learning</a></p>                  
						<p><a href="">Advance Optimization Techniques</a></p>                  
						<p><a href="">Big Data Analytics on Cloud</a></p>                  
						<p>----Elective - IV----</p>
						<p><a href="">Advance Machine Learning Algorithms</a></p>                  
						<p><a href="">Artificial Intelligence Algorithms</a></p>                  
						<p><a href="">Advance Data Visualization</a></p>                  
						<p>----Elective - V----</p>
						<p><a href="">Data Science Project Management</a></p>                  
						<p><a href="">Software Engineering</a></p>                  
						<p><a href="">Agile Methodology</a></p>                  
			  		</div>
                      		</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Cloud Computing Solutions</a></p>                  
						<p><a href="">Cyber Forensics and Investigation</a></p>                  
						<p><a href="">Virtualization & Cloud Security</a></p>                  
						<p><a href="">Advanced Storage Technology</a></p>                  
						<p><a href="">Cloud Web Services</a></p>                  
						<p>----Assigns----</p>
						<p><a href="">Mini Project</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Cloud Computing Solutions</a></p>                  
						<p><a href="">Linux Administration</a></p>                  
						<p><a href="">Mobile Ecosystem, Business Analysis and Models</a></p>                  
						<p><a href="">Cross-Platform Application Development</a></p>                  
						<p>----Assigns----</p>
						<p><a href="">Mini Project</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
                 	<!-- end of panel -->
			
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty_index.js' %}"></script>
    {% endblock content %}

</body>
    
</html>


