<!-- SEMESTER - 2 -->

{% load static %}
`
<!DOCTYPE html>
<html>

<head>
    <title>Faculty</title>
    <link rel="stylesheet" href="{% static 'css/faculty_index.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    
</head>

<body>
    {% block title %}
    <div class="uni-heading">
        UNIVERSITY
    </div>


    <div class="option-title-box">
        <h4>View Question </h4>
    </div>
    {% endblock title %}
    

    {% block content %}
    <hr class="hr-text" data-content="QUESTION">
    
    <!-- Information Technology -->   
    <div class="container">
        <div class="col-md-6 col-sm-6">
		<h3>Information Technology</h3><br><br><br><br>
            	<div class="panel-group wrap" id="bs-collapse">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#two">
                                			BCA
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="two" class="panel-collapse collapse">
                        		<div class="panel-body">
						<p><a href="">English-II</a></p>
						<p><a href="">Effective Speaking & Analytical Skills-II</a></p>
						<p><a href="">Reasoning & Thinking-I</a></p>
						<p><a href="">Operating System</a></p>
						<p><a href="">Data Structures Using C</a></p>
						<p><a href="">OOP's with C++</a></p>
						<p><a href="">System Configuration & Management</a></p>
                        		</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#three">
                                			BCA - CTIS
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="three" class="panel-collapse collapse">
                        		<div class="panel-body">
                        			<p><a href="">English-II</a></p>
                                		<p><a href="">Effective Speaking & Analytical Skills-II</a></p>
		                                <p><a href="">Reasoning & Thinking-I</a></p>
                		                <p><a href="">Operating System</a></p>
                                		<p><a href="">Data Structures Using C</a></p>
		                                <p><a href="">OOP's with C++</a></p>
                		                <p><a href="">System Configuration & Management</a></p>
					</div>
                    		</div>
                	</div>
                	<!-- end of panel -->

                	<div class="panel">
                    		<div class="panel-heading">
                        		<h4 class="panel-title">
                            			<a data-toggle="collapse" data-parent="#" href="#four">
                                			BCA - MACT
                            			</a>
                        		</h4>
                    		</div>
                    		<div id="four" class="panel-collapse collapse in">
                        		<div class="panel-body">
						<p><a href="">English-II</a></p>                  
						<p><a href="">Effective Speaking & Analytical Skills-II</a></p>
                		                <p><a href="">Reasoning & Thinking-I</a></p>
                                		<p><a href="">Operating System</a></p>
		                                <p><a href="">Data Structures Using C</a></p>
                		                <p><a href="">OOP's with C++</a></p>
                                		<p><a href="">System Configuration & Management</a></p>
					</div>
                    		</div>
	                </div>
        	        <!-- end of panel -->

			<div class="panel">
                      		<div class="panel-heading">
	                        	<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#five">
                                  			B. Tech - DS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="five" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Differential Equations & Integral Calculus</a></p>                  
						<p><a href="">Mechanics</a></p>                  
						<p><a href="">Engineering Professionalism and Ethics</a></p>                  
						<p><a href="">Environmental Studies</a></p>                  
						<p><a href="">Computer Aided Engineering Graphics</a></p>                  
						<p><a href="">Engineering Design-II</a></p>                  
						<p><a href="">Bridge Course on Electronics</a></p>                  
			  		</div>
                      		</div>
                  	</div>
                  	<!-- end of panel -->

 		 	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#six">
                                  			B. Tech - CTIS
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="six" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Differential Equations & Integral Calculus</a></p>                  
						<p><a href="">Mechanics</a></p>                  
						<p><a href="">Engineering Professionalism and Ethics</a></p>                  
						<p><a href="">Environmental Studies-II</a></p>                  
						<p><a href="">Computer Aided Engineering Graphics</a></p>                  
						<p><a href="">Bridge Course in Electronics</a></p>                  
						<p><a href="">Engineering Design</a></p>                  
					  </div>
                	      </div>
                  	</div>
                  	<!-- end of panel -->

		   	<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                             			<a data-toggle="collapse" data-parent="#" href="#seven">
                                  			B. Tech - MACT
                              			</a>
                          		</h4>
                      		</div>
                      		<div id="seven" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">Differential Equations & Integral Calculus</a></p>                  
						<p><a href="">Mechanics</a></p>                  
						<p><a href="">Engineering Professionalism and Ethics</a></p>                  
						<p><a href="">Environmental Studies</a></p>                  
						<p><a href="">Computer Aided Engineerign Graphics</a></p>                  
						<p><a href="">Bridge Course in Electronics</a></p>                  
						<p><a href="">Engineering Designing-II</a></p>                  
		                	</div>
                	      	</div>
                  	</div>
                 	<!-- end of panel -->
			
 			<div class="panel">
                      		<div class="panel-heading">
                          		<h4 class="panel-title">
                              			<a data-toggle="collapse" data-parent="#" href="#eight">
                                  			B. Sc - Animation
                              			</a>
                          		</h4>
                      		</div>
                     		<div id="eight" class="panel-collapse collapse">
                          		<div class="panel-body">
						<p><a href="">English-II</a></p>                  
						<p><a href="">Effective Speaking & Analytical Skills-II</a></p>                  
						<p><a href="">Reasoning & Thinking-I</a></p>                  
						<p><a href="">Film Appreciation and Analysis</a></p>                  
						<p><a href="">StoryTelling</a></p>                  
						<p><a href="">Foundation Art-II</a></p>                  
						<p><a href="">Digital Art-II</a></p>                  
						<p><a href="">2D Digital Animation-II</a></p>                  
						<p><a href="">3D Animation-II</a></p>                  
                          		</div>
                      		</div>
                 	</div>
                 	<!-- end of panel -->
		</div>
            	<!-- end of #bs-collapse  -->
        </div>


	<!-- Management -->
        <div class="col-md-6 col-sm-6">
	<h3>Management</h3><br><br><br><br>
        	<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                	<div class="panel">
                	</div>
                	<!-- end of Space(Sub) panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                BBA - FS
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
				<p><a href="">Marketing Management</a></p>                  
				<p><a href="">Buisness Mathematics</a></p>                  
				<p><a href="">Basic of Cost Accounting</a></p>                  
				<p><a href="">Research Methodology</a></p>                  
				<p><a href="">French-II</a></p>                  
				<p><a href="">Buisness Communication-I</a></p>                  
				<p><a href="">Health Education and Fitness</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                BBA - IB
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
				<p><a href="">Marketing Management</a></p>                  
				<p><a href="">Buisness Mathematics</a></p>                  
				<p><a href="">Research Methodology</a></p>                  
				<p><a href="">Basics of Cost Accounting</a></p>                  
				<p><a href="">French-II</a></p>                  
				<p><a href="">Buisness Communication-I</a></p>                  
				<p><a href="">Health Education and Fitness</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                B. Com. - Hons.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
				<p><a href="">Marketing Management</a></p>                  
				<p><a href="">Buisness Mathematics</a></p>                  
				<p><a href="">Basic of Cost Accounting</a></p>                  
				<p><a href="">Introduction to Corporate Accounting</a></p>                  
				<p><a href="">French-II</a></p>                  
				<p><a href="">Buisness Communication-I</a></p>                  
				<p><a href="">Health Eduction and Fitness</a></p>                  
                        </div>
                    </div>
                </div>
                <!-- end of panel -->
            </div>
            <!-- end of #accordion -->
        </div>
        <!-- end of wrap -->
    </div>
    <!-- end of container -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="{% static 'js/faculty_index.js' %}"></script>
    {% endblock content %}

</body>
    
</html>

