{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Editing Question Form</title>

	<!-- BootStrap CSS -->
	<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

	<link rel="stylesheet" type="text/css" href="{% static 'css/quesedit.css' %}">
</head>

<body>

	<p><a href="javascript:history.go(-2)"><< Return to Creation Department</a></p>

	<form method="post" class="form-horiontal">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update" class="btn btn-success">
	</form>

</body>
</html>