{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Question Paper Creator</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>

<body>
	{% block head %}
		<div class="const-header">
			UNIVERSITY
			<hr />
		</div>
	{% endblock head %}
	
	{% block option %}
		<div class="opt-box-var">
			<a href="{% url 'form' %}">
				<div class="opt-box clearfix">
					<img class="create" src="{% static 'img/create.png' %}">
					<div class="texthere1">Create Question</div>
				</div>
			</a>
			<a href="{% url 'list' %}">
				<div class="opt-box">
					<img class="view" src="{% static 'img/view.png' %}">
					<div class="texthere1">View Questions</div>
				</div>
			</a>
		</div>
	{% endblock option %}
	<br><br><br><br><br><br><br><br><br><br><br>
	{% block content %}
	{% endblock content %}
	
</body>

</html>
