{% load static %}

<!DOCTYPE html>

<html>

<head>
	<title>Question Bank</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">

	<!--Bootstrap for HTML's-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
	{% block title %}
	<div class="uni-name-box">
		UNIVERSITY
	</div>
	{% endblock title %}
	
	<div class="option-choice-box-comb">
		<div class="option-choice-box">
			<a href="{% url 'createquestion' %}">Create Question</a>
		</div>
		<div class="option-choice-box">
			<a href="">View Question</a>
		</div>
	</div>
	
	<br /><br /><br /><br /><br /><br /><br /><br /><br />
	{% block content %}
	
	{% endblock content %}

<!--	<footer>
		<div class="end-report-link-block">
			<a href="">
				Report Issue
			</a>
			<div class="get-name-in-centre">
				Developed by Anway Somani
			</div>
		</div>
</footer>-->
</body>
		
</html>
