{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
</head>

<body>
	<header>
		<h3><u>IMAGINARY UNIVERSITY</u></h3>
		
		<p>Name: {{ user.first_name }}</p>
		<p>E. Id: {{user.employee_id }}</p>
		<p>Mail: {{user.email }}</p>
		<br />
		<hr />
		
	</header>

	<main>
		{% block content %}
		<h2><span>Questionnaire</span></h2>

		<a href="{% url 'CreateQues' %}">
			<div class="point-box">
				<img src="{% static 'img/create.jpg' %}">
				<p>Create</p>
			</div>
		</a>
		{% endblock %}
	</main>

	<footer>
		<br /><br /><br />
		<hr />
		<div class="content">
			<a href="{% url 'about' %}"> ABOUT </a>
		</div>
	</footer>
</body>

</html>

