{% extends 'base.html' %}
{% load static %}

{% block option %}
	<div class="opt-box-var">
		<a href="{% url 'form' %}">
			<div class="opt-box clearfix">
				<img class="create" src="{% static 'img/create.png' %}">
				<div class="texthere1">Create Question</div>
			</div>
		</a>
		<a href="{% url 'list' %}">
			<div class="opt-box clearfix">
				<img class="view" src="{% static 'img/view.png' %}">
				<div class="texthere1">View Questions</div>
			</div>
		</a>

	</div>
{% endblock option %}

{% block content %}
	<div class="table-data">
		<table>
			<tr>
				<th>Question</th>
				<th>Marks</th>
				<th>Subject</th>
				<th>Priority</th>
			</tr>
			<tr>
				<td>First Question</td>
				<td>2</td>
				<td>Any and the Many are all here</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Second Question</td>
				<td>5</td>
				<td>Any and the Many are different ways</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Third Question</td>
				<td>10</td>
				<td>Any and Many are old</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Fourth Question</td>
				<td>5</td>
				<td>Shut the Any and many now</td>
				<td>1</td>
			</tr>
		</table>
	</div>

{% endblock content %}
