h1 {
	font: 35px Bold Tahoma, Helvetica, Serif;
	text-color: green;
}

h6 {
	font: 20px Italic Arial Black, Arial, Sans-Serif;
}

hr {
	width: 100%;
}

p { 
	font: 15px Bold Arial Black, Helvetica, Sans-Serif;
}

.question-box {
	border-style: solid;
}

.head-box {
	background-color: yellow;
	padding: -10px;
	margin: -10px;
}

html {
	padding: 0px;
	margin: 0px;
}

.text-box1 {
	border-style: double;
	width: 50%;
	height: 50%;
	align: right;
}
