{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Question Bank Software</title>
        
        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel="stylesheet" href="{% static 'css/faculty/findex.css' %}">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">

 
<body>
        <div class="uni-heading">
                AJEENKYA DY PATIL UNIVERSITY
        </div>

        <div class="big-box">

        {% for subject in list %}
        <li><div class="sems">
            <a href="{% url 'eachsubject' subject.id %}" class="subj1">
                <!-- Subject here -->
                {{ subject.id }}
                {{ subject }}<br><br>
            </a>
        </div></li>
        {% endfor %}
	</div>

	<footer>
		<p class="ffoot"><a href="" class="ffoot">About</a> 
		<a href="" class="ffoot">Report_Issue</a></p>
	</footer>
</body>

</html>

