{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Question Bank Software</title>
        
        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel="stylesheet" href="{% static 'css/faculty/findex.css' %}">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">

<body>
        <div class="uni-heading">
            <div class="righty">
                Hello, {{ request.user.get_full_name }}
            </div>
            AJEENKYA DY PATIL UNIVERSITY
        </div>

        <div class="override">
            <a href="{% url 'change_password' %}">Change password</a>
        </div>
        <div class="roverride">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <br>
        <div class="roverride">
            <a href="{% url 'questionpaper' %}">Share to HOD(under construction)</a>
        </div>

        <div class="big-box">

        {% for subject in list %}
        <li><div class="sems">
            <a href="{% url 'eachsubject' subject.id %}" class="subj1">
                <!-- Subject here -->
                <!-- {{ subject.id }} -->
                {{ subject }}<br><br>
            </a>
        </div></li>
        {% endfor %}
	</div>

	<footer>
		<p class="ffoot"><a href="{% url 'about_developer' %}" class="ffoot">About</a> 
		<a href="{% url 'about_developer' %}" class="ffoot">Report_Issue</a></p>
	</footer>
</body>

</html>

