{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Question Block</title>

	<!-- BootStrap CSS -->
	<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>


	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty/question.css' %}">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
</head>

<body>

	<div class="uni-heading">
    	AJEENKYA DY PATIL UNIVERSITY
    </div>

    <div class="#">
    	<h3>Question Creation</h3>
    	<form method="POST" class="POST-form">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<button type="submit" class="save btn btn-default">Save Question</button>
    	</form>
    </div>





</body>
</html>