{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Question Block</title>

	<!-- BootStrap CSS -->
	<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>


	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty/question.css' %}">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>

	<!-- JQuery for removing rows from table -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>

<body>

	<div class="uni-heading">
    	AJEENKYA DY PATIL UNIVERSITY
    </div>

    <!-- <div style="background-color: red; font: 20px Bold Arial Black, Helvetica, Serif;">
    	{% for obj in object %}
    		{{ obj.subject }} - 
    	{% endfor %} <br>
    	{{ obj.subject }}<br>
    	{{ id }}<br>
    	{{ user }}<br>
    	{% for subject in list %} 
    		{{ subject }} - 
    	{% endfor %} 
    </div> -->


    <div class="#">
    	<h3>Question Creation</h3>
    	<!-- <p>Block: {{ id }}</p> -->
    	<form method="POST" class="POST-form form-horizontal">
    		{% csrf_token %} 
    		<div class="form-group">
			    <div class="form-group">
	    			<label for="id_block" class="control-label col-sm-2">Block</label>
	    			<div class="col-sm-5">
	    				{{ form.block.errors }}
	    				{{ form.block }}  <i>Enter block value as '{{ id }}' here...</i>
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_modules" class="control-label col-sm-2">Modules</label>
	    			<div class="col-sm-5">
	    				{{ form.modules.errors }}
	    				<!-- {{ id }} -  -->{{ form.modules }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_question" class="control-label col-sm-2">Question</label>
	    			<div class="col-sm-5">
	    				{{ form.question.errors }}
	    				{{ form.question }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_marks" class="control-label col-sm-2">Marks</label>
	    			<div class="col-sm-5">
	    				{{ form.marks.errors }}
	    				{{ form.marks }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_priority" class="control-label col-sm-2">Priority</label>
	    			<div class="col-sm-5">
	    				{{ form.priority.errors }}
	    				{{ form.priority }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_notes" class="control-label col-sm-2">Notes</label>
	    			<div class="col-sm-5">
	    				{{ form.notes.errors }}
	    				{{ form.notes }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<div class="col-sm-offset-2 col-sm-5">
	    				<button type="submit" class="save btn btn-default">Save Question</button>
	    			</div>
	    		</div>
	    	</div>

    		
    	</form>


    	<table id="quesTable">
    		<thead>
	    		<tr>
	    			<th onclick="sortTable(0)">Question</td>
	    			<th onclick="sortTable(1)">Module</td>
	    			<th onclick="sortTable(2)">Marks</td>
	    			<th onclick="sortTable(3)">Priority</td>
	    		</tr>
	    	</thead>
    		<tbody>
	    		{% for quer in query %}
	    		<tr>
	    			<td>{{ quer.question }}</td>
	    			<td>{{ quer.modules }}</td>
	    			<td>{{ quer.marks }}</td>
	    			<td>{{ quer.priority }}</td>
	    			<td><input type="checkbox" name="record"></td>
	    		</tr>
	    		{% endfor %}
	    	</tbody>
    		<button type="button" class="delete-row">Delete Row</button>
    		<br>

    	</table>
    </div>


    <script>
		function sortTable(n) {
  			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  			table = document.getElementById("quesTable");
  			switching = true;
  			//Set the sorting direction to ascending:
		  	dir = "asc"; 
		  	/*Make a loop that will continue until
		  	no switching has been done:*/
		  	while (switching) {
    			//start by saying: no switching is done:
    			switching = false;
    			rows = table.rows;
    			/*Loop through all table rows (except the
    			first, which contains table headers):*/
    			for (i = 1; i < (rows.length - 1); i++) {
      				//start by saying there should be no switching:
      				shouldSwitch = false;
      				/*Get the two elements you want to compare,
      				one from current row and one from the next:*/
      				x = rows[i].getElementsByTagName("TD")[n];
      				y = rows[i + 1].getElementsByTagName("TD")[n];
      				/*check if the two rows should switch place,
      				based on the direction, asc or desc:*/
      				if (dir == "asc") {
        				if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          					//if so, mark as a switch and break the loop:
          					shouldSwitch= true;
          					break;
        				}
      				} 
      				else if (dir == "desc") {
        				if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          				//if so, mark as a switch and break the loop:
          				shouldSwitch = true;
          				break;
        			}
      			}
    		}
    		if (shouldSwitch) {
      			/*If a switch has been marked, make the switch
      			and mark that a switch has been done:*/
      			rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      			switching = true;
      			//Each time a switch is done, increase this count by 1:
      			switchcount ++;      
    			} 
    			else {
      				/*If no switching has been done AND the direction is "asc",
      				set the direction to "desc" and run the while loop again.*/
      				if (switchcount == 0 && dir == "asc") {
        				dir = "desc";
        				switching = true;
      				}
    			}
  			}
		}
	</script>


	<!-- For removing rows from table -->
	<script type="text/javascript">
		// Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
	</script>

	<!-- Trial for on-check field clearence on submissions -->
	<script type="text/javascript">
		onSubmit="window.location.reload();"
	</script>

</body>
</html>