{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Question Block</title>

	<!-- Bootstrap for meter -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- BootStrap CSS -->
	<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>


	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty/question.css' %}">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">

	<!-- JQuery for removing rows from table -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	<!-- <script src="{% static 'updateable.js' %}"></script> -->

</head>

<body>

	<div class="uni-heading">
    	AJEENKYA DY PATIL UNIVERSITY
    </div>

    <div class="return-view">
    	<a href="{% url 'findex' %}">
    		<u>
    			<-- Back to Subject View
    		</u>
    	</a>
    </div>

    <div class="#">
    	<h3>Question Creation</h3>
    	<!-- <p>Block: {{ id }}</p> -->
    	<form method="POST" class="POST-form form-horizontal">
    		{% csrf_token %} 
    		<div class="form-group">
			    <div class="form-group">
	    			<label for="id_block" class="control-label col-sm-2">Block</label>
	    			<div class="col-sm-5">
	    				{{ form.block.errors }}
	    				{{ form.block }}  
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_modules" class="control-label col-sm-2">Modules</label>
	    			<div class="col-sm-5">
	    				{{ form.modules.errors }}
	    				{{ form.modules }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_question" class="control-label col-sm-2">Question</label>
	    			<div class="col-sm-5">
	    				{{ form.question.errors }}
	    				{{ form.question }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_marks" class="control-label col-sm-2">Marks</label>
	    			<div class="col-sm-5">
	    				{{ form.marks.errors }}
	    				{{ form.marks }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_priority" class="control-label col-sm-2">Priority</label>
	    			<div class="col-sm-5">
	    				{{ form.priority.errors }}
	    				{{ form.priority }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<label for="id_notes" class="control-label col-sm-2">Notes</label>
	    			<div class="col-sm-5">
	    				{{ form.notes.errors }}
	    				{{ form.notes }}
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<div class="col-sm-offset-2 col-sm-5">
	    				<button type="submit" class="save btn btn-default">Save Question</button>
	    			</div>
	    		</div>
	    	</div>    		
    	</form>

    	<br>
    	<hr>
    	<div class="grid-container">
    		<!-- Enter minimum and maximum value based on input -->
    		<div class="grid-item">
    			<span class="marks">2 marks:</span> {{ 2mksques.count }}<br>
    			<meter min="0" max="20" optimum="10" value="{{ 2mksques.count }}">
    		</div>
    		<!-- Enter minimum and maximum value based on input -->
    		<div class="grid-item">
    			<span class="marks">5 marks:</span> {{ 5mksques.count }}<br>
    			<meter min="0" max="10" high="5" optimum="5" value="{{ 5mksques.count }}">
    		</div>
    		<!-- Enter minimum and maximum value based on input -->
    		<div class="grid-item">
    			<span class="marks">10 marks:</span> {{ 10mksques.count }}<br>
    			<meter min="0" max="8" optimum="4" value="{{ 10mksques.count }}">
    		</div>
    	</div>

    	<!-- Table Heading -->
    	<div class="table-heading">
    		2-MARKS QUESTION
    	</div>
    	<table id="quesTable" class="questionTable">
    		<thead>
	    		<tr>
	    			<th onclick="sortTable(0)">Question</td>
	    			<th onclick="sortTable(1)">Module</td>
	    			<th onclick="sortTable(2)">Marks</td>
	    			<th onclick="sortTable(3)">Priority</td>
	  				<th>Action</th>
	    		</tr>
	    	</thead>
    		<tbody>
	    		{% for ques in 2mksques %}
	    		<tr>
	    			<td><a href="{% url 'question-update' ques.id %}">{{ ques.question }}</a></td>
	    			<td>{{ ques.modules }}</td>
	    			<td>{{ ques.marks }}</td>
	    			<td>{{ ques.priority }}</td>
	    			<td><a href="{% url 'question-delete' ques.id %}">Delete</a></td>
	    		</tr>
	    		
	    		{% endfor %}
	    	</tbody>
    		<br>
    	</table>
    	<br>

    	<hr>

    	<!-- Table Heading -->
    	<div class="table-heading">
    		5-MARKS QUESTION
    	</div>
    	<table id="quesTable" class="questionTable">
    		<thead>
    			<th onclick="sortTable(0)">Question</td>
    			<th onclick="sortTable(1)">Module</td>
    			<th onclick="sortTable(2)">Marks</td>
    			<th onclick="sortTable(3)">Priority</td>
  				<th>Action</th>
	    	</thead>
    		<tbody>
	    		{% for ques in 5mksques %}
	    		<tr>
	    			<td><a href="{% url 'question-update' ques.id %}">{{ ques.question }}</a></td>
	    			<td>{{ ques.modules }}</td>
	    			<td>{{ ques.marks }}</td>
	    			<td>{{ ques.priority }}</td>
	    			<td><a href="{% url 'question-delete' ques.id %}">Delete</a></td>
	    		</tr>
	    		
	    		{% endfor %}
	    	</tbody>
	    	<thead>
    			<th onclick="sortTable(0)">Question</td>
    			<th onclick="sortTable(1)">Module</td>
    			<th onclick="sortTable(2)">Marks</td>
    			<th onclick="sortTable(3)">Priority</td>
  				<th>Action</th>
	    	</thead>
    		<br>
    	</table>

    	<hr>

    	<!-- Table Heading -->
    	<div class="table-heading">
    		10-MARKS QUESTION
    	</div>

    	<table id="quesTable" class="questionTable">
    		<thead>
    			<th onclick="sortTable(0)">Question</td>
    			<th onclick="sortTable(1)">Module</td>
    			<th onclick="sortTable(2)">Marks</td>
    			<th onclick="sortTable(3)">Priority</td>
  				<th>Action</th>
	    	</thead>
    		<tbody>
	    		{% for ques in 10amksques %}
	    		<tr>
	    			<td><a href="{% url 'question-update' ques.id %}">{{ ques.question }}</a></td>
	    			<td>{{ ques.modules }}</td>
	    			<td>{{ ques.marks }}</td>
	    			<td>{{ ques.priority }}</td>
	    			<td><a href="{% url 'question-delete' ques.id %}">Delete</a></td>
	    		</tr>
	    		
	    		{% endfor %}
	    	</tbody>
    		<br>
    	</table>
    </div>

    

    <script>
		function sortTable(n) {
  			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  			table = document.getElementById("quesTable");
  			switching = true;
  			//Set the sorting direction to ascending:
		  	dir = "asc"; 
		  	/*Make a loop that will continue until
		  	no switching has been done:*/
		  	while (switching) {
    			//start by saying: no switching is done:
    			switching = false;
    			rows = table.rows;
    			/*Loop through all table rows (except the
    			first, which contains table headers):*/
    			for (i = 1; i < (rows.length - 1); i++) {
      				//start by saying there should be no switching:
      				shouldSwitch = false;
      				/*Get the two elements you want to compare,
      				one from current row and one from the next:*/
      				x = rows[i].getElementsByTagName("TD")[n];
      				y = rows[i + 1].getElementsByTagName("TD")[n];
      				/*check if the two rows should switch place,
      				based on the direction, asc or desc:*/
      				if (dir == "asc") {
        				if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          					//if so, mark as a switch and break the loop:
          					shouldSwitch= true;
          					break;
        				}
      				} 
      				else if (dir == "desc") {
        				if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          				//if so, mark as a switch and break the loop:
          				shouldSwitch = true;
          				break;
        			}
      			}
    		}
    		if (shouldSwitch) {
      			/*If a switch has been marked, make the switch
      			and mark that a switch has been done:*/
      			rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      			switching = true;
      			//Each time a switch is done, increase this count by 1:
      			switchcount ++;      
    			} 
    			else {
      				/*If no switching has been done AND the direction is "asc",
      				set the direction to "desc" and run the while loop again.*/
      				if (switchcount == 0 && dir == "asc") {
        				dir = "desc";
        				switching = true;
      				}
    			}
  			}
		}
	</script>


	<!-- For removing rows from table -->
	<script type="text/javascript">
		// Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
	</script>

	<!-- Trial for on-check field clearence on submissions -->
	<script type="text/javascript">
		onSubmit="window.location.reload();"
	</script>

</body>
</html>