{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    		<meta charset="utf-8">
	    	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
    		<meta name="viewport" content="width-device-width, intital-scale=1">
    
    		<!-- Latest compiled and minified CSS -->
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
		<!--<link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />-->
    
    		<!-- Latest minified JS -->
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    		<title>
			{% block title %}
				Question Bank
			{% endblock %}
		</title>
  	</head>
  
	<body>
		<div>
			<nav class="navbar fixed-top navbar-inverse navbar-static-top bg-primary">
				<a class="navbar-brand" href="#">Question Bank</a>
			</nav>

			{% block body %}
			{% endblock %}

		</div>
	</body>
</html>
