html {
	margin: -10px;
	padding: 0px;
}

body {
	background-color: turquoise;
}


.uni-name-box {
	background-color: orange;
	width: 100%;
	height: 45px;
	text-align: center;
	font: 30px Bold Helvetica, Arial, Serif;
	text-decoration: underline;
}

.option-choice-box {
	border: thick solid black;
	width: 25%;
	height: 120px;
	float: left;
	vertical-align: top;
	display: inline-block;
	margin: 15px;
	margin-left: 160px;
}

.end-report-link-block {
	position: fixed;
	bottom: 0px;
	background-color: black;
	font-color: white;
	width: 100%;
}

.option-choice-box-comb {
	align: center;
}

.question-form-box {
	text-align: center;
}

.question-form {
	text-align: center;
}

.submission-button {
	text-align: center;
	align: center;
	position: absolute;
	width: 50%;
	border: none;
	padding: 15px 32px;
	display: inline-block;
	cursor: pointer;
	background-color: green;
	float: center;
}

.field {
	padding: 5px;
	margin: 10px;
}

p {
	padding: 0px;
	margin: 0px;
}
