{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Data-Flow Diagrams</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/data-flowmain.css' %}">


</head>

<body>
	<div class="head">
		<span class="universityTitle">
			Ajeenkya DY Patil University
		</span>
	</div>

	<a href="{% url 'individualER' %}">
		<div class="html-file-link">
			Individual Entity Relation
		</div>
	</a>

	<a href="{% url 'individualER' %}">
		<div class="html-file-link">
			Glossary
		</div>
	</a>

	<a href="{% url 'individualER' %}">
		<div class="html-file-link">
			Data-Flow
		</div>
	</a>

	<!-- To add a new user -->
	<div class="modelName">
		<u></u>
	</div>
	<div id="question.py/SubjectCategory" class="erBlock">	
	</div>


</body>
</html>