<!DOCTYPE html>
<html>
<head>
	<title>Question Form Generator</title>

	<!-- Local CSS file link -->
	<link rel="stylesheet" type="text/css" href="static.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">


	<!-- JS for Ajax -->
	<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
	<script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
	<script type='text/javascript' src='js/dynamicpage.js'></script>


</head>

<body>
	<!-- Div for college heading -->
	<div class="clg-header">
		<div class="adj-bottom">
			<div class="left1 returnsem">
				<a href="#" class="returnsem">
					<-- Back to<br> 
					Semester view
				</a>
			</div>
		</div>
		AJEENKYA DY PATIL UNIVERSITY
	</div>

	<hr class="hor1" size="20">

	<!-- Block for entering semesters -->
	<div class="sem-block">
	<ul>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-1
			</a>
		</div></li>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-2
			</a>
		</div></li>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-3
			</a>
		</div></li>
		<li><div class="sems">
			<a href="#" class="subj1">
				Subject-4
			</a>
		</div></li>
	</ul>
	</div>

	<hr class="hor1" size="5">
	
	<div class="subject-title">
		Subject Name
	</div>

	<br>

	<div class="whole">
		<div class="left-side-wala">
			<form>
				<fieldset>
					<legend>Chapter Details</legend>
					<!-- Module:<br>
					<input type="text" name="firstname">
					<br> -->
					
						<label>Select Module</label>
						<select id="moduleList">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<label>Select Chapter</label>
						<select id="moduleList">
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
					
					<!-- Chapter:<br>
					<input type="text" name="lastname">
					<br> -->
				</fieldset>
				<fieldset>
					<legend>Question details</legend>
					Enter Question:<br>
					<input type="text" name="question">
					<br>
					<label>Select Marks</label>
					<select id="moduleList">
						<option value="1">1</option>
						<option value="2">2</option>
					</select>
				</fieldset>
				<fieldset>
					<legend>Extras and Importance</legend>
					<label>Select Priority</label>
					<select id="moduleList">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
					Notes:<br>
					<input type="text" name="question">
					<br>
				</fieldset>
			</form> 
		</div>
		<div class="right-side-wala">
			<p class="head-mod">Module</p><br>
			1. This is Module # 1<br>
			2. This is Module # 2<br>
			3. This is Module # 3<br>
			4. This is Module # 4<br>
			5. This is Module # 5<br>
		</div>
	</div>



	<!-- -->
	<!-- <script type="text/javascript">
		var classHighlight = 'highlight';
		var $thumbs = $('.subj1').click(function(e) {
    		e.preventDefault();
    		$thumbs.removeClass(classHighlight);
    		$(this).addClass(classHighlight);
		});
	</script> -->


</body>
</html>