<!DOCTYPE html>
<html>

<head>
	<title>Common Login Form</title>
</head>

<body>

    <h1>Login</h1>
    <form class="site-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Login">
    </form>







    <!--
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
    -->



    <!--
	<form id="login_form" method="post" action="login/">
	{% csrf_token %}
		Email:
		<input type="text" name="email" value="" id="email" size="50" />
		<br />

		Password:
		<input type="password" name="password" value="" id="password" size="50" />

		<input type="submit" name="submit" value="submit" />
	</form>-->
</body>

</html>

