{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>NA User Entitled</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">

</head>

<body>
    <div class="msg1">
    	You are not authorized to any subject.
    </div>
    <div class="msg2">
    	And there are no pages assigned to non-subject authorized user.
    </div>
    <hr>
    <h1>Still...if you feel something should be here, contact <br>
    	<u>Anway Somani</u><br>
    	Email: <i>anwaysomani@gmail.com</i><br>
    	Contact: <i>9096052940</i><br>
    	And just say <i>'Get me something!!'</i>
    </h1>
    <h5>Anway's available 24*7</h5>

</body>

</html>
